<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>SurveyGuardian</name>
        <type>plugin</type>
        <creationDate>2023-01-01</creationDate>
        <last_update>2023-11-28</last_update>
        <author>Mark Colley, Lukas Gruler, Enrico Rukzio</author>
        <authorUrl>https://github.com/SurveyGuardian</authorUrl>
        <version>1.0.0</version>
        <license>GNU General Public License version 2 or later</license>
        <description><![CDATA[Tired of inattentive or malicious behaving participants filling out your surveys? This plugin is your solution. Updated frequently for best protection.]]></description>
    </metadata>

    <compatibility>
        <version>4</version>
        <version>5</version>
        <version>6</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
